<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Лист ознакомления</title>
  <!--[if IE]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="./css/main.css">
 </head>
 <body>
  <div class="A4">
    <div class="title">Лист ознакомления</div>
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <td>Подразделение ДКиТ АСУ, филиал «Нижновэнерго»</td>
                </tr>
                <tr>
                    <td>с Приказом № ННЭ-247 от 08.07.22г. «О введении в действие нормативного документа» и самим Регламентом РГ БПР 8-ННЭ/47-02/2022
                        ОЗНАКОМЛЕНЫ:
                    </td>
                </tr>
                <tr>
                    <table>
                        <th style="width: 5%; text-align: center;">№ п/п</th>
                        <th>Наименование должности</th>
                        <th>И.О.Ф.</th>
                        <th>Дата</th>
                        <th>Подпись</th>
                        <tr class="tr-center">
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Овчинников</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img  src="./picture/Овчинников.png" /></div></td>
                        </tr>
                        <tr class="tr-center">
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Антонов</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img  src="./picture/моя.png" /></div></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Овчинников</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img style="z-index: -10;" src="./picture/Биткин.png" /></div></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Овчинников</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img src="./picture/Костров.png" /></div></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Овчинников</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img src="./picture/Малинин.png" /></div></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Овчинников</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img src="./picture/Давыдов.png" /></div></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Овчинников</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img src="./picture/Бодров.png" /></div></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Овчинников</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img src="./picture/Майоров.png" /></div></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Начальник службы</td>
                            <td>И.А. Овчинников</td>
                            <td>01.01.2022</td>
                            <td><div class="image"><img src="./picture/Сулоев.png" /></div></td>
                        </tr>
                    </table>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
 </body>
</html>