<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Лист ознакомления</title>
  <!--[if IE]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/home/semyadmin/www/go/templates/css/main.css">
 </head>
 <body>
  <div class="A4">
    <div class="title">Лист ознакомления</div>
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <td>Подразделение ДКиТ АСУ, филиал «Нижновэнерго»</td>
                </tr>
                <tr>
                    <td>{{$.Answers.FamiliarizationWith}}
                        <br/>
                        ОЗНАКОМЛЕНЫ:
                    </td>
                </tr>
                <tr>
                    <table>
                        <th style="width: 5%; text-align: center;">№ п/п</th>
                        <th>Наименование должности</th>
                        <th>И.О.Ф.</th>
                        <th>Дата</th>
                        <th>Подпись</th>
                        {{range $signatory := .Signatories}}
                        <tr class="tr-center">
                            <td>{{$signatory.SerialNumber}}</td>
                            <td>{{$signatory.JobTitle}}</td>
                            <td>{{$signatory.FullName}}</td>
                            <td>{{$.Answers.Date}}</td>
                            <td><div class="image"><img  src="{{$.CurrentDirectory}}/{{$signatory.PathToSignature}}" /></div></td>
                        </tr>
                        {{end}}
                    </table>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
 </body>
</html>