<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Лист ознакомления</title>
  <!--[if IE]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="{{$.Paths.PathToCss}}">
 </head>
 <body>
  <div class="A4">
    <div class="title">Лист ознакомления</div>
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <td class="font">Подразделение ДКиТ АСУ, филиал «Нижновэнерго»</td>
                </tr>
                <tr>
                    <td class="font">{{$.Answers.FamiliarizationWith}}
                        <br/>
                        ОЗНАКОМЛЕНЫ:
                    </td>
                </tr>
                <tr>
                    <table>
                        <th style="width: 5%; text-align: center;">№ п/п</th>
                        <th>Наименование должности</th>
                        <th>И.О.Ф.</th>
                        <th>Дата</th>
                        <th>Подпись</th>
                        {{range $signatory := .Signatories}}
                            {{range $idSignatory := $.Answers.IdSignatories}}
                                {{if (equal $signatory $idSignatory)}}
                                <tr>
                                    <td class="center">{{$signatory.SerialNumber}}</td>
                                    <td>{{$signatory.JobTitle}}</td>
                                    <td>{{$signatory.FullName}}</td>
                                    <td>{{$.Answers.Date}}</td>
                                    <td><div class="image"><img  src="{{$.Paths.PathToPictures}}/{{$signatory.PathToSignature}}" /></div></td>
                                </tr>
                                {{end}}
                            {{end}}
                        {{end}}
                    </table>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
 </body>
</html>